#textbox{
    display: none;
}
#addmore{
    display: none;
}
#close{
    display: none;
}



input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type=button] {
    width: 100%;
    background-color: #4cafa2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=button]:hover {
    background-color: #4cafa2;
  }

  #createcode{
    width: 10%;
  }

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  #tab {
    /* font-family: Arial, Helvetica, sans-serif; */
    border-collapse: collapse;
    width: 50%;
  }
  
  #tab td, #tab th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  
  
  /* #tab tr:hover {background-color: #ddd;} */
  
  #tab th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0e565f;
    color: white;
  }

  